@import "../core/reset.scss";
@import "../core/vars.scss";

.preview {
    background-image: url(../../images/bg-main-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 30vh;

    &__cardsContainer {
        position: relative;
        height: 120%;
        padding: 20px;
        color: $--color-white; 
        text-transform: uppercase;
    }

    &__cardFront {
       position: absolute; 
       background-image: url(../../images/bg-card-front.png);
       background-size: contain;
       background-repeat: no-repeat;
       height: 42vw;
       width: 80vw;
       bottom: 0;
       z-index: 10;
       display: flex;
       flex-direction: column;
       padding: 20px;
       padding-right: 35px;
       line-height: 20px;
    }

    &__cardBack {
        position: absolute;
        background-image: url(../../images/bg-card-back.png);
        background-size: contain;
        background-repeat: no-repeat;
        height: 42vw;
        width: 80vw;
        top: 3rem;
        left: 4rem;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    //INFO CARD FRONT

    &__cardLogo {
        width: 60px;
    }

    &__cardNumber {
        margin-top: 30px;
        letter-spacing: 3px;
        font-size: 18px;
    }

    &__nameAndDate {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

    &__name {
        font-size: 12px;
    }

    &__date {
        font-size: 12px;
    }

    //INFO CARD BACK

    &__cvc {
        font-size: 10px;
        margin-right: 60px;
        letter-spacing: 1px;
    }
}


@media all and (min-width:768px) {
    .preview {
        background-image: url(../../images/bg-main-desktop.png);
        height: 100vh;
        width: 30%;

        &__cardsContainer {
            height: 60vh;
            width: 100%;
            margin-left: 250px;
            margin-top: 150px;
        }

        //CARD FRONT

        &__cardFront {
            height: 15.31rem;
            width: 27.93rem;
        }

        &__nameAndDate {
            margin-top: 70px;
        }

        &__cardLogo {
            width: 80px;
        }

        &__cardNumber {
            font-size: 18px;
            margin-top: 40px;
        }
        &__name {
            font-size: 18px;
        }

        &__date {
            font-size: 18px;
        }   
     

       //CARD BACK

        &__cardBack {
            height: 15.31rem;
            width: 27.93rem;
        }

        &__cvc {
            font-size: 14px;
        }
        
    }
}