@import "../core/reset.scss";
@import "../core/vars.scss";

.preview {

    &__backgroundPurple{
    background-image: url(../../images/bg-main-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 30vh;
    }

    &__cardsContainer {
        padding: 20px;
        color: $--color-white; 
        text-transform: uppercase;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
    }

    &__cardFront {
       background-image: url(../../images/bg-card-front.png);       
       z-index: 10;
       flex-direction: column;
       padding: 20px;
       transform: translateY(-70px);
    }

    &__cardBack {
        background-image: url(../../images/bg-card-back.png);
        height: 20vh;
        align-items: center;
        justify-content: flex-end;
        margin-left: 50px;
    }
    
   &__card { 
       background-size: contain;
       background-repeat: no-repeat; 
       line-height: 20px;
       border-radius: 10px; 
       display: flex;
       width: 310px;
    }

    //INFO CARD FRONT

    &__cardLogo {
        width: 60px;
    }

    &__cardNumber {
        margin-top: 30px;
        letter-spacing: 3px;
        font-size: 18px;
    }

    &__nameAndDate {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        padding: 5px;
    }

    &__name {
        font-size: 12px;
    }

    &__date {
        font-size: 12px;
    }

    //INFO CARD BACK

    &__cvc {
        font-size: 10px;
        margin-right: 35px;
        letter-spacing: 1px;
    }}



@media all and (min-width:768px) {
    .preview {

        &__backgroundPurple{
        background-image: url(../../images/bg-main-desktop.png);
        height: 100vh;
        width: 600px;        
        }

        &__cardsContainer {
            height: 100vh;
            width: 130%;
            flex-direction: column;
            margin-left: 80px;
            
        }

        &__card {
            height: 15.31rem;
            width: 27.93rem;
            box-shadow: 0 0 10px $--box-shadow;
        }
        //CARD FRONT

        &__cardFront {
            margin-top: 180px;
            transform: none;
        }

        &__cardLogo {
            width: 80px;
        }

        &__cardNumber {
            font-size: 28px;
            margin: 50px 0 30px 20px;
        }
        &__name {
            font-size: 18px;
            margin-left: 20px;
        }

        &__date {
            font-size: 18px;
        }   
     
        &__cvc {
            font-size: 14px;
        }

        //CARD BACK

        &__cardBack {
            margin-bottom: 160px;
        }
        
    }
}

