// PRIMARY COLORS

// Linear gradient (active input border):
$--color-gradient-ligth-purple:hsl(249, 99%, 64%) ;
$--color-gradient-purple:hsl(278, 94%, 30%);

//- Red (input errors):
$--color-red:hsl(0, 100%, 66%);

//------NEUTRAL COLORS
$--color-white: hsl(0, 0%, 100%);
$--color-light-violet:hsl(270, 3%, 87%);
$--color-dark-violet:hsl(279, 6%, 55%);
$--color-super-dark-violet:hsl(278, 68%, 11%);
$--box-shadow: rgb(83, 83, 83);
